# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binary and output folders
lib/*
bin/*
data/*

# Compiled binaries that show up
*.out
*.exe

# Back up data
*~